.MessageList {
    border: 1px solid grey;
    height: 100%;
    margin-top: 20px;
    padding: 0;
    margin-bottom: 20px;
    list-style-type: none;
    width: 100%;
}

.SingleMessage {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    list-style-type: none;
    vertical-align: middle;
    align-items: stretch;
}

.message {
    color: black;
    font-size: 15px;
    margin-top: 10px;
}

.accept {
    background-color: orange;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 70px;
    height: 30px;
    float: right;
    margin-top: 10px;
}

.accept:hover {
    background-color: #cc7000;
    color: #ffffff;
}

.align-right {
    text-align: right;
}

.messagePart {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.acceptButton {
    width: 40%;
}