/* for both login and signup*/

.container {
    padding: 16px;
}

.login {
    background-color: white;
    margin: 5% auto 15% auto;
    border-radius: 25px;
    border: 2px solid black;
    width: 80%;
}

.signup {
    background-color: white;
    margin: 5% auto 15% auto;
    border-radius: 25px;
    border: 2px solid black;
    width: 80%;
}

.center {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 20px;
}

h1 {
    color: black;
    text-align: center;
}

.button1 {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    display: block;
    border: none;
    cursor: pointer;
    width: fit-content;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.error {
    font-size: medium;
    font-style: italic;
    color: rgb(240, 0, 0);
    margin: 0 auto;
    width: fit-content;
}


