.Home {
    background-color: #f7f8fa;
    right: 0;
    width: 70%;
    height: 100%;
}

.split {
    height: 100%;
    position: fixed;
    display: flex;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.container {
    padding: 16px;
}

.name {
    text-align: center;
    font-size: large;
    margin-top: 50px;
    font-weight: bold;
}

.profileimg {
    margin-top: 60px;
    border-radius: 50%;
}

.editProfile {
    position: absolute;
    left: 10px;
    top: 10px;
    align-items: center;
    background-color: orange;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    min-height: 40px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
}

.editProfile:hover {
    background-color: #cc7000;
    color: #ffffff;
}

.editProfile:disabled {
    background-color: #cc7000;
    color: #ffffff;
}