.friendPage {
    width: 100vw;
    height: 100vh;
}

.friend {
    background-color: #f7f8fa;
    left: 10%;
    width: 20%;
    height: 100%;
    border: 3px groove #d3d3d3;
    display: flex;
    flex-direction: column;
}

.friendHeader {
    color: orange;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}