.singlePost {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 1ch;
}

.postImage {
    max-width: 300px;
    max-height: 300px;
}

.singleDes {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
}

.postBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.eds {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 8px;
    border: 0;
    border-radius: 10px;
    background-color: #ff6633;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.eds:hover {
    background-color: #b34f2e;
    color: #ffffff;
}

.like {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 8px;
    border: 0;
    border-radius: 10px;
    background-color: #ff6633;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}

.like:hover {
    background-color: #b34f2e;
    color: #ffffff;
}

.comments {
    border: 2px solid rgba(211, 211, 211, .5);
    box-shadow: 3px 3px 20px #888888;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.userName {
    color: black;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.userName:hover {
    color: blue;
    cursor: pointer;
}

.postBar #liked {
    background-color: #cc7000;
    color: #ffffff;
}